.section5 {
    background-color: #FAF9F8;
    padding: 0px 80px;
}

.section5-wrap {
    padding: 96px 18px;
    margin: 0px 360px;
}

.section5-buttons {
    display: flex;
    flex-direction: column;
    padding: 0px 18px;
}

.section5-button {
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 18px;
    background-color: #FAF9F8;
}

.section5-paragraph {
    font-size: 18px;
    font-weight: 500;
    color: #212326;
    margin: 0;
    margin-bottom: 16px;
    font-family: Roboto;
    font-weight: 500;
}

.plusic-icon {
    height: 18px;
}

.faqs {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #004F5D;
}