.main {
    width: 1600px;
    margin: 0 auto;
}

.section1 {
    background-image: url('icons/pozadina.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 735px;
    position: relative;
    height: 735px;
}

.top-icon {
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    background-color: #008060;
    margin-bottom: 48px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-bottom: 18px;
}

h3 {
    text-align: center;
    font-size: 31px;
    color: white;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 32px;
}

.inp-btn {
    justify-content: center;
    margin: 0px 500px;
    margin-bottom: 8px;
}

.inp {
    padding: 16px 15px;
    height: 20px;
    width: 355px;
    text-align: left;
    margin-left: 8px;
    margin-right: 6px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    outline: none;
    margin-bottom: 8px;
}

.btn {
    padding: 16px 29px;
    width: 165px;
    height: 52px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;
    border: none;
    background-color: #212326;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.15s;
    margin-bottom: 8px;
}

.btn:hover {
    background-color: black;
}

.trial-text {
    display: block;
    color: white;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 32px;
    font-weight: normal;
    line-height: 18px;
}

.shop-icon {
    margin-top: 50px;
}