.shortcut {
    padding-top: 6px;
    display: flex;
    position: absolute;
    z-index: 999;
    background-color: #F0F1F2;
    width: 100%;
    align-items: center;
    position: fixed;
    padding-bottom: 6px;
}

.shortcut-wrap {
    display: flex;
}

.shortcut-paragraph {
    color: #212326;
    font-weight: 430;
}

.shortcut1 {
    display: flex;
    flex: 1;
    justify-content: right;
    padding-right: 18px;
    padding-left: 18px;
}

.shortcut2 {
    display: flex;
    flex: 1;
    padding-left: 18px;
    padding-right: 148px;
    align-items: center;
}

.shortcut-button1 {
    display: flex;
    background-color: #00805F;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 11.500px 26.250px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s, box-shadow 0.15s;
}

.shortcut-button1:hover {
    background-color: #004C3F;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.1);
}

.shortcut-button2 {
    margin-left: 16px;
    display: flex;
    background-color: #F0F1F2;
    color: #004C3F;
    font-size: 14px;
    font-weight: bold;
    padding: 10.625px 24.500px;
    border: 1px solid #00805F;
    border-radius: 3px;
    transition: background-color 0.15s, color 0.15s;
}

.shortcut-button2:hover {
    background-color: #00805F;
    color: white;
}

.iksic-div {
    display: flex;
    justify-content: right;
}

.iksic-button {
    border: none;
    background-color: #F0F1F2;
}

.iksic {
    height: 20px;
}